<!DOCTYPE html>

<html>
<head>
    <title>Squirrel</title>
</head>

<body>
    <div class="container">
        <h1>Planter Defender</h1>
        
        <div class="notification">
            <div class="alert">Intruder!</div>
            <div class="date">{{ time }}</div>
        </div>
        
        <div class="system-stats">
            
            <h2>System Stats</h2>
            
            <div class="system-stat" id="systemStatus">
                System is <span class="stat-value">Off</span>
                <button>on</button>
            </div>
            
            <div class="system-stat" id="speakerVolume">
                Volume is <span class="stat-value">83</span>db
                <input type="range" min="0" max="100">
            </div>
            
            <div class="system-stat" id="outputInterval">
                Output Interval is <span class="stat-value">3</span>secs
                <div class="control">
                    <button>+</button>
                    <button>-</button>
                </div>
            </div>
            
        </div>
        
        <div class="log">
            <table>
                <thead>
                    <tr>
                        <th>Sensor Tripped</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                {% for sensorTrip in sensorTrips %}
                    <tr>
                        <td>{{ sensorTrip.start_time }}</td>
                        <td>{{ sensorTrip.end_time - sensorTrip.start_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="test-form">
            <form id="add-trip" action="{{ path_for('addSensorTrip') }}" method="post">
                <input type="text" name="start_time">
                <input type="text" name="end_time">
                <button type="submit">save</button>
            </form>
        </div>
        
    </div>
</body>
</html>
